body{
	
}
.geral{
	margin:30px auto;
	width: 1000px;
}
#nav{
	margin:1% 0;
}
.geral .menu, .geral .hero-unit{
	margin:0 auto;
	width:50%;
}
.geral .hero-unit{
	
}
.geral .container{
	background:#fff;
	/*box-shadow:0 0 5px #999;*/
	border-radius:7px;
}
.form-horizontal{
	margin:0 auto;
	width:70%;
}
.row-form{
	
}
.table-responsive{
	margin:1em 0;
}
.table-title{
	background-color:#eee;
	text-align:center;
}
.table-title b{
	text-align:center;
	display:block;
}
.calc{
	margin:1em;
}
form.calc{
	padding:2em 2em 1em 2em;
}
